Repository pairing4good/tdd-react-18-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, npm audit fix --only=prod

fix eslint fix and prettier fighting over formatt
  .lintstagedrc.json
Due: prettier --write

cut over to better audit to exclude issues
  .husky/pre-commit
  .lintstagedrc.json
  .nsprc
  package-lock.json
  package.json
Due: prettier --write, npm audit fix --only=prod

Update README.md
  README.md
Due: prettier --write

test git hook checks
  src/App.test.js
Due: prettier --write, eslint --fix

fix test
  package.json
  src/App.test.js
Due: prettier --write, eslint --fix, npm audit fix --only=prod

Documented how this template works
  .eslintrc.json
  .husky/pre-commit
  README.md
  package.json
  src/App.jsx
  src/App.test.jsx
  src/index.jsx
Due: prettier --write, npm audit fix --only=prod

fixed prettier format and lint:fix from fighting
  .lintstagedrc.json
  .prettierrc
  README.md
  package.json
  src/App.jsx
Due: prettier --write, npm audit fix --only=prod

added vscode plugin tip
  README.md
Due: prettier --write

update project name
  package.json
Due: prettier --write, npm audit fix --only=prod

added usage instructions
  README.md
Due: prettier --write

fix spelling and grammar
  README.md
Due: prettier --write

added a cypress test to the CI build
  .eslintrc.json
  .github/workflows/cypress.yml
  .github/workflows/node.js.yml
  README.md
  cypress.config.js
  cypress/e2e/app.cy.js
  cypress/fixtures/example.json
  cypress/screenshots/app.cy.js/React App -- should contain 'Learn React' link (failed).png
  cypress/support/commands.js
  cypress/support/e2e.js
  cypress/videos/app.cy.js.mp4
  package-lock.json
  package.json
  src/App.js
  src/App.test.js
  src/index.js
Due: prettier --write, eslint --fix, npm audit fix --only=prod

Update cypress.yml
  .github/workflows/cypress.yml
Due: none

fix cypress build
  .github/workflows/cypress.yml
  package-lock.json
  package.json
Due: prettier --write, npm audit fix --only=prod

fix cypress ci test name
  .github/workflows/cypress.yml
Due: none

fix wait-on
  .github/workflows/cypress.yml
Due: none

cut over to use start-server-and-test
  .github/workflows/cypress.yml
  package-lock.json
  package.json
Due: prettier --write, npm audit fix --only=prod

fix script
  .github/workflows/cypress.yml
Due: none

fix test
  .github/workflows/cypress.yml
  package.json
Due: prettier --write, npm audit fix --only=prod

fix test
  .github/workflows/cypress.yml
Due: none

fix script
  package.json
Due: prettier --write, npm audit fix --only=prod

attempt at fix
  waiton.config.js
Due: prettier --write, eslint --fix

roll back to start test approach
  package-lock.json
  waiton.config.js
Due: prettier --write, eslint --fix

removed 18.x temp until jeffbski/wait-on#109
  .github/workflows/cypress.yml
Due: none

fixed 18.x
  cypress/screenshots/app.cy.js/React App -- should contain 'Learn React' link (failed).png
  cypress/videos/app.cy.js.mp4
Due: none

fixed 18.x
  .github/workflows/cypress.yml
  .gitignore
  package.json
Due: prettier --write, npm audit fix --only=prod

Updated README
  README.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,css,md,json}
  eslint --fix: any of: *.{js, jsx}
  npm audit fix --only=prod: any of: package.json
